<form action="/prototypePolls/loadDDBB/" method="get">
    <label for="from_date">From date: </label>
    <input id="from_date" type="text" name="from_date" value="{{ from_date }}">
    <label for="to_date">To date: </label>
    <input id="to_date" type="text" name="to_date" value="{{ to_date }}">
    <input type="submit" value="Load DDBB">
</form>
<a href="/prototypePolls/deleteDDBB/" class="button">delete DDBB</a></br>

<img src="data:image/png;base64, {{ image_base64 }}" alt="some text to display to your users when the image does not show correctly" width=1500 height=auto />
</br></br>
<img src="data:image/png;base64, {{ image_base64_2 }}" alt="some text to display to your users when the image does not show correctly" width=1000 height=auto />
</br></br>
<img src="data:image/png;base64, {{ image_base64_3 }}" alt="some text to display to your users when the image does not show correctly" width=1000 height=auto />
</br></br>
{% if Session %}
    <ul>
    {% for s in Session %}
    <p><b>{{ s.type }}</b>
    <b>{{ s.date }}</b>
    <b>{{ s.username }}</b>
    <b>{{ s.client_ip }}</b>
    <b>{{ s.user_agent }}</b></p>
    {% endfor %}
    </ul>
{% else %}
    <p>temporal Data.</p>
{% endif %}
